name: Deploy to staging

on:
  push:
    branches:
      - main

jobs:
  redeploy_everything:
    runs-on: ubuntu-latest
    name: Redeploy everything

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
           mkdir -p ~/.ssh
           cat << 'EOF' > ~/.ssh/id_rsa
           ${{ secrets.SSH_PRIVATE_KEY }}
           EOF
           chmod 600 ~/.ssh/id_rsa
           ssh-keyscan -H ec2-54-85-135-51.compute-1.amazonaws.com >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh ubuntu@ec2-54-85-135-51.compute-1.amazonaws.com << 'EOF'
            cd bms-test
            git pull origin main
            pnpm install
            pnpm run build
            pm2 restart all
          EOF
